@charset "UTF-8";

/*Define a cor e a fonte do conteúdo*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #60BF81,#347355, #25553f);
}

h1 {
    font-size: 4em;
    text-align: center;
    color: white;
}

/*Define o estilo do conteúdo principal*/
main {
    margin: auto;
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
}

label {
    display: block; /* Faz com que os label não fiquem na mesma linha*/
    padding-top: 10px;
}

/*Modifica o estilo dos input*/
input {
    padding: 5px;
    width: 350px;
}

div input {
    height: 100px;
}

/*Cria um botão de confirmar*/
button {
    display: block;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/*Muda a cor do link ao passar o mouse por cima*/
a:hover {
    color: rgba(255, 255, 255, 0.675);
}

p {
    text-align: center;
}

